<!-- Title for the page-->
<h1>{{title}}</h1> 
<!--  Button section for user interaction -->
    <div>
        <!-- Buttons with click events bound to showImage method and respective IDs  -->
        <button (click)="showImage(1)" >Thor</button>
        <button (click)="showImage(2)" >Bold</button>
        <button (click)="showImage(3)">Thunder</button>
        <button (click)="showImage(4)">LadyThor</button>
    </div>

    <!-- Dynamic image rendering -->
    <img [src]="path" alt="" [class.Dimensions]="iss">
    
    <!-- User name display and input -->
<h3>{{userName}}</h3>
<input type="text" [(ngModel)]="userName">
<!-- Router outlet for loading additional components -->
<router-outlet></router-outlet>
   

